<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- <link rel="stylesheet" href="static/style.css"> -->
<!-- <link rel="stylesheet" href="base.css" > -->
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
    <h1 style = "text-align: center; margin-bottom: 50px; margin-top: 50px;">Legal provisions related for offences against women</h1>
    <div class = "menu_bar">
        <ul class="ul_in_menu_bar">
            <li><a href = "#omow">Immoral Trafficking</a></li>
            <li><a href = "#sh">Dowry</a></li>
            <li><a href = "#ptp">Sati</a></li>
            <li><a href = "#stalk">Domestic Violence </a></li>
            <li><a href = "#5">Child Marriage </a></li>
            <li><a href = "#6">Sexual Harassment at Workplace </a></li>
            <!-- <li><a href = "#rr">Related Resources</a></li> -->
            <!-- <li><a href = "#">Logout</a></li> -->
        </ul>
    </div>
    <section id = "omow" class="content">
        <h1>The Immoral Traffic (Prevention) Act, 1956</h1>
        <br>
        <p>The Immoral Traffic (Prevention) Act, 1956 (ITPA) is a law in India that prohibits prostitution and the facilitation or coercion of individuals into prostitution. The act also criminalizes activities such as brothel-keeping and living off the earnings of prostitution. The act was last amended in 2006, and its provisions are enforced by state police forces. The law aims to curb human trafficking, especially of women and children, for the purpose of commercial sexual exploitation.</p>
        <br><strong>Some of the key provisions of the act include:</strong>
        <br><br> <p> <strong>Section 3</strong>, which prohibits soliciting in public places. This means that it is illegal to publicly solicit customers for prostitution.
        </p>
        <p> <strong>Section 4</strong>, which criminalizes living off the earnings of prostitution. This means that it is illegal to financially benefit from someone else's prostitution, such as by running a brothel.
             </p>
             <p> <strong>Section 5</strong>, which criminalizes keeping a brothel. This means that it is illegal to run or manage a place where prostitution takes place
            </p>
        <p> <strong>Section 6</strong>, which criminalizes procuring, inducing or taking a person for the sake of prostitution. This means that it is illegal to force, threaten or deceive someone into prostitution
         </p>
         <p> <strong>Section 7</strong>, which criminalizes the detaining of a person in premises where prostitution takes place. This means that it is illegal to forcibly confine someone in a brothel or similar place
        </p>
        <p> <strong>Section 8</strong>, which criminalizes the letting of premises for the purpose of prostitution. This means that it is illegal to lease or rent a property with the knowledge that it will be used for prostitution.
         </p>
         <p> <strong>Section 9</strong>, which criminalizes acts of seduction or prostitution of a person in custody. This means that it is illegal to engage in prostitution with someone who is in custody, such as a prisoner or someone in a hospital.
         </p>
         <br>
       <p>The act also empowers the police to rescue and rehabilitate victims of trafficking, and requires establishment of special courts for trials of offenses under the act. But often the implementation of the act is poor and lacks of resources for the same.</p>  
    </section>
    <hr style = 'margin-top: 50px;'/>
    <section id = "sh" class="content">
        <h1>Dowry prohibition act, 1961</h1>
        <br>
        <p>The Dowry Prohibition Act is a law in India that was enacted in 1961 to prohibit the giving or receiving of a dowry in connection with a marriage. The law makes it illegal to give or take dowry, or to demand dowry as a condition of a marriage
            </p>
        <br>
        <strong>Under the Dowry Prohibition Act, dowry includes any property or valuable security given or agreed to be given either directly or indirectly:</strong><br>
        <br>
       <ol>
        <p>By one party to a marriage to the other party to the marriage; or<br>
            By the parents of either party to a marriage or by any other person, to either party to the marriage or to any other person,
            <br>
            At or before or any time after the marriage in connection with the marriage of the said parties, but does not include dower or mahr in the case of persons to whom the Muslim Personal Law (Shariat) applies.
        </p>
       </ol> 
        <br>
        <p>The law also makes it illegal for anyone to hold or abet any dowry and penalties for contravening the act include imprisonment for up to 5 years and fines.
        </p>
        <br>
        <p>The act also provides for additional punishments in case of death or injury caused by dowry harassment, which are punishable with imprisonment for a term which shall not be less than 5 years and also can be extended to life imprisonment.

        </p>
        <p>Despite the act in place, the practice of dowry is still prevalent in many parts of India, particularly in rural areas, and dowry-related harassment and violence against women remains a significant problem in the country.
        </p>
    </section>
    <hr style = 'margin-top: 50px;'/>
    <section id = "ptp" class="content">
        <h1>The Commission of Sati (Prevention) Act, 1987</h1>
        <br>
        <p>The Commission of Sati (Prevention) Act, 1987 is a law in India that prohibits the practice of sati, which is the self-immolation of a widow on her husband's funeral pyre. The act makes the commission of sati, the abetment of sati, and the glorification of sati, as well as any attempt to commit sati, all punishable offenses under Indian law.

          <br> <br> The act defines sati as the burning or bury alive of any widow along with the body of her deceased husband and glorification as any act which constitutes a public glorification of the commission of sati, either by making any sound or light or by garlanding, or any other act or by showing respect or by any other manner whatsoever.
            
          <br> <br> The act also provides for the punishment for glorification of sati, which shall be imprisonment for a term which shall not be less than one year but which may extend to seven years and with fine which may extend to Rs. 5,000.
            
          <br><br>  The act also empowers the State Government to take necessary steps and measures including the attachment of the property of the persons who violates the provisions of the act.
            
          <br> <br> The act is enforced by the state government, and any person who contravenes the act can be punished with imprisonment, fines, or both. The act is important step taken towards protection of women rights and dignity and check any type of patriarchal practices.
            
            </p>
    </section>
    <hr style = 'margin-top: 50px;'/>
    <section id = "stalk" class="content">
        <h1>The Protection of Women from Domestic Violence Act, 2005</h1>
        <br>
        <p>The Protection of Women from Domestic Violence Act, 2005 (PWDVA) is a law in India that provides a legal framework to protect and empower women who are victims of domestic violence. The act defines domestic violence as any act, conduct, or behavior that causes physical, sexual, emotional, verbal, or economic harm to a woman, and includes acts such as physical assault, sexual abuse, emotional abuse, verbal abuse, and economic abuse.

        <br><br>    <strong>The act specifically identifies several types of domestic violence that are prohibited, including:</strong>
            
        <br>    <strong>Physical abuse:</strong> Any act that causes or is likely to cause physical harm to the victim, such as hitting, punching, kicking, pushing, or using weapons to harm the victim.
            
        <br>   <strong>Sexual abuse:</strong> Any act that involves sexual harassment, sexual assault, or rape of the victim by the perpetrator.
            
        <br>    <strong>Emotional, verbal, and psychological abuse:</strong> Any act that causes or is likely to cause mental or emotional distress to the victim, such as verbal abuse, harassment, intimidation, or stalking.
            
        <br>    <strong>Economic abuse: </strong>Any act that causes or is likely to cause financial harm to the victim, such as controlling the victim's access to money, withholding money, or using the victim's money without her consent.
            
        <br>    <strong>Harassment:</strong> Any act that is intended to cause or is likely to cause the victim to fear for her safety or the safety of someone else, such as threatening to hurt the victim or someone she cares about, repeatedly following her, or showing up at her workplace or school uninvited.
            
        <br>    <strong>Trespass:</strong> Any act that is intended to cause or is likely to cause the victim to fear for her safety or the safety of someone else, such as trespassing on the victim's property or entering her residence or workplace against her will.
            
        <br>   <strong>Stalking:</strong> Any act that involves following or monitoring the victim or communicating with her in a way that causes fear for her safety or the safety of someone else.
            
        <br><br>   <strong>The act provides various forms of relief to women who are victims of domestic violence, such as:</strong>
            
        <br>    <strong>Protection orders:</strong> The act empowers the courts to issue protection orders to prevent the perpetrator of domestic violence from continuing to abuse the victim.
            
        <br>    <strong>Residence orders:</strong> The act allows the court to issue residence orders that require the perpetrator to vacate or stay away from the shared residence of the victim.
            
        <br>    <strong>Monetary relief:</strong>The act provides for the court to order the perpetrator to pay monetary relief to the victim to cover expenses such as medical expenses, loss of income, and the cost of alternative accommodation.
            
        <br>    <strong>Custody orders:</strong> The act allows the court to issue custody orders in favor of the victim in relation to any child of the domestic relationship.
            
        <br>    <strong>Emergency assistance:</strong> The act requires the government to provide emergency assistance, such as medical assistance, legal aid, and temporary accommodation, to victims of domestic violence.
            
        <br>    The act also provide for the appointment of Protection officer to assist the aggrieved person and also the service providers to provide services to the aggrieved person and ensure effective implementation of the act.
            
            It is an important legislation towards protecting the rights of women in India and recognizing domestic violence as a human rights issue. The act provides a comprehensive legal framework to address domestic violence and provides for various forms of relief to women who are victims of domestic violence.
            </p>
    </section>
    <hr style = 'margin-top: 50px;'/>
    <section id = "5" class="content">
        <h1>The Prohibition of Child Marriage Act, 2006</h1>
        <br>
         <p>The Prohibition of Child Marriage Act, 2006 (PCMA) is a law in India that prohibits child marriages, which are marriages where at least one of the parties is below the age of 18. The act makes child marriage illegal and provides for penalties for those who perform, conduct, or abet such marriages.

          <br><br>  The act defines child marriage as a marriage to which either of the contracting parties is a child and defines a child as a person who has not completed the age of 18 years for girls and 21 for boys.
            
          <br><br> The act makes child marriage voidable, meaning that if either party to the marriage is a child, either party or any relative of either party can file a petition to annul the marriage within 2 years from the date of marriage.
            
          <br><br>  The act also provides for punishment for those who perform, conduct, or abet child marriages, with a punishment of imprisonment which may extend to two years and also with a fine which may extend to one lakh rupees.
            
          <br><br> The act also requires the registration of marriage under it within sixty days of the marriage, and any person who contravenes the provisions regarding registration of marriage shall be punishable with simple imprisonment for a term which may extend to fifteen days and also with fine which may extend to one thousand rupees.
            
          <br><br>  The act also empowers the officers, like the Child Marriage Prohibition Officer, to take necessary steps to prevent the child marriage and also empowers the officers of the Local self-government to prevent the child marriage, in case of any suspicion.
            
          <br><br>  The act, although present, is still not well enforced, and child marriages are still a problem in India. Despite being illegal, child marriages are still prevalent, especially in rural and poor communities, due to cultural and socio-economic factors. This law is an important step towards protecting the rights of children, particularly girls, and promoting gender equality in India.
            </p>
    </section>
    <br>
         <!-- <p><ul><li>The Prohibition of Child Marriage Act, 2006 (PCMA) is a law in India that prohibits child marriages, which are marriages where at least one of the parties is below the age of 18. The act makes child marriage illegal and provides for penalties for those who perform, conduct, or abet such marriages.
        </li>
        <li>
          The act defines child marriage as a marriage to which either of the contracting parties is a child and defines a child as a person who has not completed the age of 18 years for boys and 21 for girls.
        </li>
        <li>
           The act makes child marriage voidable, meaning that if either party to the marriage is a child, either party or any relative of either party can file a petition to annul the marriage within 2 years from the date of marriage.
        </li>
        <li>
            The act also provides for punishment for those who perform, conduct, or abet child marriages, with a punishment of imprisonment which may extend to two years and also with a fine which may extend to one lakh rupees.
        </li>
        <li>
           The act also requires the registration of marriage under it within sixty days of the marriage, and any person who contravenes the provisions regarding registration of marriage shall be punishable with simple imprisonment for a term which may extend to fifteen days and also with fine which may extend to one thousand rupees.
        </li>
        <li>
           The act also empowers the officers, like the Child Marriage Prohibition Officer, to take necessary steps to prevent the child marriage and also empowers the officers of the Local self-government to prevent the child marriage, in case of any suspicion.
        </li>
        <li>
            The act, although present, is still not well enforced, and child marriages are still a problem in India. Despite being illegal, child marriages are still prevalent, especially in rural and poor communities, due to cultural and socio-economic factors. This law is an important step towards protecting the rights of children, particularly girls, and promoting gender equality in India.
        </li>
        </ul>    
        </p> -->
    <hr style = 'margin-top: 50px;'/>
    <section id = "6" class="content">
        <h1>The Sexual Harassment of Women at Workplace (Prevention, Prohibition and Redressal) Act, 2013</h1>
        <br>
         <p>The Prohibition of Child Marriage Act, 2006 (PCMA) is a law in India that prohibits child marriages, which are marriages where at least one of the parties is below the age of 18. The act makes child marriage illegal and provides for penalties for those who perform, conduct, or abet such marriages.

          <br><br>  The act defines child marriage as a marriage to which either of the contracting parties is a child and defines a child as a person who has not completed the age of 18 years for boys and 21 for girls.
            
          <br><br> The act makes child marriage voidable, meaning that if either party to the marriage is a child, either party or any relative of either party can file a petition to annul the marriage within 2 years from the date of marriage.
            
          <br><br>  The act also provides for punishment for those who perform, conduct, or abet child marriages, with a punishment of imprisonment which may extend to two years and also with a fine which may extend to one lakh rupees.
            
          <br><br> The act also requires the registration of marriage under it within sixty days of the marriage, and any person who contravenes the provisions regarding registration of marriage shall be punishable with simple imprisonment for a term which may extend to fifteen days and also with fine which may extend to one thousand rupees.
            
          <br><br>  The act also empowers the officers, like the Child Marriage Prohibition Officer, to take necessary steps to prevent the child marriage and also empowers the officers of the Local self-government to prevent the child marriage, in case of any suspicion.
            
          <br><br>  The act, although present, is still not well enforced, and child marriages are still a problem in India. Despite being illegal, child marriages are still prevalent, especially in rural and poor communities, due to cultural and socio-economic factors. This law is an important step towards protecting the rights of children, particularly girls, and promoting gender equality in India.
            </p>
    </section>
    <hr style = 'margin-top: 50px;'/>
    <!-- <section id = "rr" class="content">
        <h1>Related Resources</h1>
        <br>
        <p>The law (Section 354 IPC) makes it a special crime to use force against a woman, or even threaten to use force, if the intention is to 'outrage her modesty'. It treats it more seriously than normal and criminal force by allowing the police to make arrests for such crimes without a warrant.

            The law does not explain what 'outraging modesty' means. Courts usually make this determination by looking at all circumstances surrounding the incident. The Supreme Court referred to 'modesty' as feminine decency and a virtue that women possess owing to their sex.
            
            The punishment is jail time of between one and five years along with a fine.
            
            Important: It is not enough that the victim's modesty is outraged. It is an offence only when the accused intended or knew it to be likely that the acts in question would outrage the victim's modesty.
            
            Example: Ramesh pulls on Nina's clothes while playing Holi and rips her T-shirt apart. It is a crime only if Ramesh intended or knew it to be likely that his acts would outrage Nina's modesty</p>
    </section> -->
    <br><br>
    <!-- <p>Got questions? Chat with us</p> -->
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Grievances Assistance </h4>
                    <p class="chatbox__description--header">Hello! How may I help you? I'm here to guide you through your grievances</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <!-- <div>Hello rockstar I'm ur angel</div> -->
        <div class="chatbox__button">
            <!-- <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button> -->
            <button type="button" 
            onclick= "">More questions? Chat with us</button>
        </div>
    </div>
</div>

    <script>
         $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>